@use '/src/styles/constants/colors';
@use '/src/styles/mixins/vwConvert';
@use '/src/styles/constants/sizes';
@use 'src/styles/mixins/fontSize';

.dropDown {
  appearance: none;
  width: 86px;
  height: 35px;
  padding: 5px 10px 5px 20px;
  margin-right: 8px;
  font-size: 16px;
  color: colors.$GRAY_92;
  background: url('../../assets/svgs/dropdown_arrow.svg') no-repeat calc(100% - 8px) / 100% auto;
  background-color: #f3f3f3;
  background-size: 11px;
  border: 1px solid #87e0ac;
  border-radius: 10px;
  outline: 0 none;

  option {
    padding: 3px 0;
    border-radius: 10px;
  }

  @media (max-width: sizes.$SCREEN_SM) {
    @include vwConvert.mo(width, 84);
    @include vwConvert.mo(height, 35);
    @include vwConvert.mo(padding, 5 10 5 20);
    @include vwConvert.mo(margin-right, 8);
    @include fontSize.emFontSizeMO(16);
    @include vwConvert.mo(background-size, 11);
    @include vwConvert.mo(border-radius, 10);

    option {
      @include vwConvert.mo(padding, 3 0);
      @include vwConvert.mo(border-radius, 10);
    }
  }
}