@use '/src/styles/constants/colors';
@use '/src/styles/mixins/vwConvert';
@use 'src/styles/mixins/fontSize';
@use '/src/styles/constants/sizes';

.map {
  position: relative;

  .mapArea {
    width: 768px;
    height: 100vh;
  }

  .list {
    position: absolute;
    bottom: 30px;
    z-index: 9;
    width: 100%;
  }

  .swiperItem {
    width: 308px;
    height: 111px;
    padding-right: 12px;
  }

  .itemInner {
    width: 100%;
    height: 107px;
    padding: 18px;
    background-color: colors.$WHITE;
    // background-color: colors.$PRIMARY;
    border-radius: 15px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 25%);

    .market {
      display: block;
      padding-bottom: 2.8px;
      font-size: 17px;
      font-weight: 700;
    }

    .address {
      display: block;
      font-size: 10px;
    }
  }

  @media (max-width: sizes.$SCREEN_SM) {
    .mapArea {
      width: 100%;
      height: 100vh;
    }

    .list {
      position: absolute;
      @include vwConvert.mo(bottom, 30);
    }

    .swiperItem {
      @include vwConvert.mo(width, 308);
      @include vwConvert.mo(height, 111);
      @include vwConvert.mo(padding-left, 12);
    }

    .itemInner {
      @include vwConvert.mo(height, 107);
      @include vwConvert.mo(padding, 18);
      @include vwConvert.mo(border-radius, 15);

      .market {
        @include vwConvert.mo(padding-bottom, 2.8);
        @include fontSize.emFontSizeMO(17);
      }

      .address {
        @include fontSize.emFontSizeMO(10);
      }
    }
  }
}
