@use 'src/styles/constants/colors';
@use 'src/styles/constants/sizes';
@use 'src/styles/mixins/vwConvert';
@use 'src/styles/mixins/fontSize';

.login {
  padding-top: 60px;

  .form {
    padding-top: 78px;
  }

  .line {
    position: relative;
    margin-bottom: 5px;
  }

  .guide {
    position: absolute;
    top: 70px;
    font-size: 12px;
    color: colors.$RED;
  }

  .buttonWrap {
    padding: 100px 17px 60px;
    text-align: center;
  }

  .signupButton {
    display: block;
    padding: 17px;
    font-size: 14px;
    color: colors.$BLACK;
  }

  @media (max-width: sizes.$SCREEN_SM) {
    @include vwConvert.mo(padding-top, 80);

    .line {
      @include vwConvert.mo(margin-bottom, 5);
    }

    .form {
      @include vwConvert.mo(padding-top, 78);
    }

    .guide {
      @include vwConvert.mo(top, 70);
      @include vwConvert.mo(font-size, 12);
    }

    .buttonWrap {
      @include vwConvert.mo(padding, 100 17 20 17);
    }

    .signupButton {
      @include vwConvert.mo(padding, 17);
      @include fontSize.emFontSizeMO(14);
    }
  }
}
