@use 'src/styles/constants/colors';
@use 'src/styles/constants/sizes';
@use 'src/styles/mixins/vwConvert';
@use 'src/styles/mixins/fontSize';

.login {
  padding-top: 60px;

  .form {
    padding-top: 82px;
  }

  .line {
    position: relative;
  }

  .guide {
    position: absolute;
    top: 65px;
    font-size: 12px;
    color: colors.$RED;
  }

  .buttonWrap {
    padding: 160px 0 60px;
    text-align: center;
  }

  .signupButton {
    display: block;
    padding: 17px;
    font-size: 14px;
    color: colors.$BLACK;
  }

  @media (max-width: sizes.$SCREEN_SM) {
    @include vwConvert.mo(padding-top, 100);

    .form {
      @include vwConvert.mo(padding-top, 82);
    }

    .guide {
      @include vwConvert.mo(top, 65);
      @include vwConvert.mo(font-size, 12);
    }

    .buttonWrap {
      @include vwConvert.mo(padding, 100 0 20);
    }

    .signupButton {
      @include vwConvert.mo(padding, 17);
      @include fontSize.emFontSizeMO(14);
    }
  }
}
