@use '/src/styles/constants/colors';
@use 'styles/constants/sizes';
@use 'styles/mixins/vwConvert';
@use 'styles/mixins/fontSize';

.login {
  .line {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
  }

  .textInput {
    padding: 10px;
    margin-top: 10px;
    border: 1px solid colors.$GRAY2;
  }

  .guide {
    padding-top: 10px;
    color: colors.$RED;
  }

  .buttonWrap {
    padding: 200px 17px 101px;
    text-align: center;

    .signupButton {
      display: block;
      padding: 17px;
      font-size: 14px;
      color: colors.$BLACK;
    }

    @media (max-width: sizes.$SCREEN_SM) {
      @include vwConvert.mo(padding, 150 17 20 17);

      .signupButton {
        @include vwConvert.mo(padding, 17);
        @include fontSize.emFontSizeMO(14);
      }
    }
  }
}