@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/vwConvert';
@use 'src/styles/mixins/fontSize';
@use '/src/styles/constants/sizes';

.counter {
  display: flex;
  align-items: center;

  button {
    width: 24px;
    height: 24px;
    line-height: 24px;
    background-color: colors.$GRAY_D9;
    border-radius: 50%;
    @include flexbox.flexbox(center, center);

    &:active {
      background-color: colors.$PRIMARY;
    }

    svg {
      width: 50%;
    }
  }

  .current {
    display: block;
    padding: 0 8px;
    text-align: center;
  }

  @media (max-width: sizes.$SCREEN_SM) {
    button {
      @include vwConvert.mo(width, 24);
      @include vwConvert.mo(height, 24);
      @include vwConvert.mo(line-height, 24);
    }

    .current {
      @include vwConvert.mo(padding, 0 8);
    }
  }
}
