@use 'src/styles/constants/colors';
@use 'src/styles/mixins/flexbox';
@use 'src/styles/constants/sizes';
@use 'src/styles/mixins/vwConvert';
@use 'src/styles/mixins/fontSize';

.button {
  @include flexbox.flexbox;
  transition: color 200ms;

  + .button {
    margin-left: 16px;
  }

  &.basic {
    width: 100%;
    height: 57px;
    padding: 15px;
    font-size: 19px;
    font-weight: 400;
    color: colors.$BLACK;
    background-color: colors.$PRIMARY;
    border-radius: 15px;

    @media (max-width: sizes.$SCREEN_SM) {
      @include vwConvert.mo(height, 57);
      @include vwConvert.mo(border-radius, 15);
      @include vwConvert.mo(padding, 15);
      @include fontSize.emFontSizeMO(19);
    }
  }

  &.secondary {
    position: absolute;
    right: 0;
    bottom: 42px;
    width: 84px;
    height: 23px;
    padding: 0;
    font-size: 11px;
    line-height: 23px;
    background-color: colors.$GRAY_EF;
    border-radius: 6px;

    @media (max-width: sizes.$SCREEN_SM) {
      @include vwConvert.mo(bottom, 42);
      @include vwConvert.mo(width, 84);
      @include vwConvert.mo(height, 23);
      @include fontSize.emFontSizeMO(11);
      @include vwConvert.mo(line-height, 23);
      @include vwConvert.mo(border-radius, 6);
    }
  }

  &.primary {
    background-color: colors.$PRIMARY;
  }

  &.negative {
    background-color: colors.$GRAY_EF;
  }

  &.loading {
    cursor: default;
    opacity: 0.8;

    .spinner {
      display: inline-block;
      width: 17px;
      height: 17px;
      margin-right: 10px;
      font-size: 0;
      border: 2px solid colors.$GRAY_EF;
      border-top: 3px solid colors.$WHITE;
      border-radius: 50%;
      animation: spin 1s linear infinite;

      @media (max-width: sizes.$SCREEN_SM) {
        @include vwConvert.mo(width, 17);
        @include vwConvert.mo(height, 17);
        @include vwConvert.mo(margin-right, 10);
      }
    }
  }

  &.back,
  &.customBack {
    width: 40px;
    height: 40px;
    background: url('../../assets/svgs/arrow_prev.svg') no-repeat center/100% auto;

    @media (max-width: sizes.$SCREEN_SM) {
      @include vwConvert.mo(width, 27);
      @include vwConvert.mo(height, 27);
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
