@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.button {
  @include flexbox.flexbox;
  transition: 200ms;

  +.button {
    margin-left: 16px;
  }

  &.primary {
    height: 40px;
    padding: 0 24px;
    font-size: 14px;
    border-radius: 12px;
  }

  &.secondary {}

  &.nagative {}

  &.back {
    width: 60px;
    height: 60px;
    background: url('../../assets/svgs/arrow_prev.svg') no-repeat center/70% auto;
  }

  &.like {}

  &.more {}
}
