@use '/src/styles/constants/colors';
@use 'src/styles/constants/sizes';
@use 'src/styles/mixins/vwConvert';
@use 'src/styles/mixins/fontSize';

.category {
  .list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    margin-right: -20px;
    margin-bottom: 100px;
    overflow-x: hidden;
  }

  .title {
    font-size: 25px;
    font-weight: bold;
  }

  @media (max-width: sizes.$SCREEN_SM) {
    .list {
      @include vwConvert.mo(margin-top, 25);
      @include vwConvert.mo(margin-right, -9);
      @include vwConvert.mo(margin-bottom, 100);
    }

    .title {
      @include fontSize.emFontSizeMO(25);
    }
  }
}
