// Grayscale
$WHITE: #ffffff;
$BLACK: #000000;
$GRAY2: #222222;
$GRAY3: #333333;
$GRAY6: #666666;
$GRAYA: #aaaaaa;
$GRAYB: #b1b1b1;
$GRAYD: #dddddd;
$GRAYE: #eeeeee;

// Chromatic
$RED: #ff3535;
// $ORANGE: #ff9500;
// $YELLOW: #ffcc00;
// $GREEN: #34c759;
// $TEAL: #5ac8fa;
$BLUE: #007aff;
// $INDIGO: #5856d6;
// $PURPLE: #af52de;
// $PINK: #ff2d55;

// APP 전용
$BLACK: #222222;
$BG_WHITE: #fafafa;
$PRIMARY: #87e0ac;
$WARNING: #ff6d6a;
$INDIGO: #6f7bd4;
$GRAY_D9: #d9d9d9;
$GRAY_CF: #cfcfcf;
$GRAY_A3: #a3a3a3;
$GRAY_92: #929292;
$GRAY_B9: #b9b9b9;
$GRAY_B1: #b1b1b1;
$LINE_1: rgba(0, 0, 0, 10%);
$GRAY_2_T30: rgba(34, 34, 34, 30%);
