@use 'src/styles/constants/colors';
@use 'src/styles/constants/sizes';
@use 'src/styles/mixins/vwConvert';
@use 'src/styles/mixins/fontSize';

.signupComplete {
  .greeting {
    font-size: 33px;
    font-weight: 700;
  }

  .inner {
    padding: 0 16px;
  }

  .desc {
    padding-top: 10px;
    font-size: 20px;
    font-weight: 700;
  }

  .profile {
    padding-top: 96px;
    margin-bottom: 123px;
    text-align: center;

    .name {
      font-size: 19px;
    }
  }

  @media (max-width: sizes.$SCREEN_SM) {
    .greeting {
      @include fontSize.emFontSizeMO(33);
    }

    .inner {
      @include vwConvert.mo(padding, 0 16);
    }

    .desc {
      @include vwConvert.mo(padding-top, 10);
      @include fontSize.emFontSizeMO(20);
    }

    .profile {
      @include vwConvert.mo(padding-top, 96);
      @include vwConvert.mo(margin-bottom, 123);
    }
  }
}
