@use '/src/styles/mixins/fontSize';
@use 'src/styles/mixins/vwConvert';
@use 'src/styles/constants/sizes';
@use 'src/styles/constants/colors';

.bookmark {
  height: 100%;

  h2 {
    padding-bottom: 16px;
    font-size: 25px;
    font-weight: 700;
    border-bottom: 1px solid rgba(0, 0, 0, 10%);
  }
}

.headerSection {
  position: fixed;
  z-index: 100;
  width: 100%;
  max-width: 768px;
  padding: 16px;
  background-color: colors.$BG;
}

.inner {
  height: 100%;
  padding: 83px 16px 16px;
  background-color: colors.$BG;
}

.list {
  width: 100%;
}
