@use '/src/styles/mixins/fontSize';
@use 'src/styles/mixins/vwConvert';
@use 'src/styles/constants/sizes';
@use 'src/styles/constants/colors';

.bookmark {
  position: relative;
  height: 100%;
  overflow-y: auto;
  background-color: colors.$BG;

  h2 {
    padding-bottom: 16px;
    font-size: 25px;
    font-weight: 700;
    border-bottom: 1px solid rgba(0, 0, 0, 10%);
    @media (max-width: sizes.$SCREEN_SM) {
      @include vwConvert.mo(padding-bottom, 16);
      @include fontSize.emFontSizeMO(25);
    }
  }
}

.headerSection {
  position: fixed;
  z-index: 100;
  width: 100%;
  max-width: 768px;
  padding: 75px 16px 16px;
  background-color: colors.$BG;
  @media (max-width: sizes.$SCREEN_SM) {
    @include vwConvert.mo(padding, 75 16 16);
  }
}

.inner {
  height: 100%;
  padding: 142px 16px 16px;
  background-color: colors.$BG;
  @media (max-width: sizes.$SCREEN_SM) {
    @include vwConvert.mo(padding, 142 16 16);
  }
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  width: 100%;

  li {
    overflow: hidden;
  }

  @media (max-width: sizes.$SCREEN_SM) {
    @include vwConvert.mo(gap, 12);
  }
}
