@use 'src/styles/constants/colors';
@use 'src/styles/constants/sizes';
@use 'src/styles/mixins/vwConvert';
@use 'src/styles/mixins/fontSize';

.profile {
  height: fit-content;
  background-color: #f5f5f5;

  h3 {
    padding: 75px 0 35px;
    font-size: 40px;
    font-weight: bold;
  }

  // profile current
  .top {
    display: flex;
    flex-direction: column;
    align-items: center;

    .userInfo {
      text-align: center;

      .name {
        padding-top: 13px;
        font-size: 25px;
        color: colors.$BLACK;
      }

      .email {
        font-size: 16px;
        line-height: 22px;
        color: colors.$GRAY_B1;
      }
    }
  }

  .lineWrap {
    width: 100%;
    padding-bottom: 186px;
    margin-top: 22px;
    border-top: 1px solid colors.$LINE_1;

    button {
      display: block;
      width: 100%;
      padding: 19px 0;
      text-align: left;
      border-bottom: 1px solid colors.$LINE_1;

      &.movePageBtn {
        display: flex;
        align-items: center;
        justify-content: space-between;

        svg {
          width: 26px;
          height: 26px;
          margin-right: 5px;
          transform: scaleX(-1);
        }
      }
    }
  }

  // Edit

  .uploadInput {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
  }

  .image {
    position: relative;

    .cameraBtn {
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 9;
      width: 48px;
      height: 48px;

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }

  .imageWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 142px;
    height: 142px;
    overflow: hidden;
    border-radius: 50%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .textInput {
    margin-top: 12px;
    font-size: 13px;
  }

  form {
    .line {
      position: relative;
      margin-top: 25px;
    }

    .green {
      color: colors.$PRIMARY_TEXT;
    }

    p {
      font-size: 13px;
    }
  }

  label {
    display: block;
    font-size: 14px;
  }

  @media (max-width: sizes.$SCREEN_SM) {
    h3 {
      @include vwConvert.mo(padding, 75 0 30);
      @include fontSize.emFontSizeMO(25);
    }

    .pcBlind {
      display: block;
    }

    .top {
      .image {
        position: relative;
        @include vwConvert.mo(width, 88);
        @include vwConvert.mo(height, 88);
        @include vwConvert.mo(margin-right, 15);
      }

      .greeting {
        @include fontSize.emFontSizeMO(25);
      }
    }

    form {
      @include vwConvert.mo(padding-top, 18);

      .buttonWrap {
        @include vwConvert.mo(margin-bottom, 42);
      }
    }

    .setting {
      p {
        @include vwConvert.mo(padding-bottom, 5);
        @include fontSize.emFontSizeMO(15);
      }

      button {
        @include vwConvert.mo(padding, 10);
      }
    }
  }
}
