@use 'src/styles/constants/colors';
@use 'src/styles/constants/sizes';
@use 'src/styles/mixins/vwConvert';
@use 'src/styles/mixins/fontSize';

.profile {
  .top {
    .image {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 88px;
      height: 88px;
      overflow: hidden;
      border-radius: 50%;

      img {
        width: 100%;
      }
    }

    .greeting {
      font-size: 25px;
    }
  }

  @media (max-width: sizes.$SCREEN_SM) {
    .greeting {
      @include fontSize.emFontSizeMO(25);
    }
  }
}
