@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/vwConvert';
@use 'src/styles/mixins/fontSize';
@use '/src/styles/constants/sizes';

.editor {
  .form {
    padding-bottom: 45px;
    border-top: 1px solid rgba(0, 0, 0, 10%);
  }

  .line {
    padding: 14px 0;
    border-bottom: 1px solid colors.$LINE_1;

    &.noPadding {
      padding: 0;
    }
  }

  .label {
    display: inline-block;
    padding-bottom: 12px;
    font-weight: 600;
  }

  .textInput,
  .textarea {
    width: 100%;
    font-size: 15px;
    background-color: transparent;
    border: none;

    &::placeholder {
      color: colors.$GRAY_2_T30;
    }
  }

  .textInput {
    height: 26px;
    line-height: 26px;
  }

  .textarea {
    height: 200px;
    resize: none;
  }

  // 카운터
  .counter {
    display: flex;
    align-items: center;

    button {
      width: 24px;
      height: 24px;
      line-height: 24px;
      background-color: colors.$GRAY_D9;
      border-radius: 50%;
      @include flexbox.flexbox(center, center);

      &:active {
        background-color: colors.$PRIMARY;
      }
    }

    .current {
      width: 40px;
      min-width: 20px;
      padding: 0 5px;
      text-align: center;
    }
  }

  // 장소
  .place {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 14px 0;

    .label {
      padding-bottom: 0;
    }

    .arrow {
      margin-right: 5px;
      transform: scaleX(-1);
    }
  }

  // 시간
  .timePicker {
    .popupBtn {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      width: 100%;
      padding: 14px 0;
      font-size: 16px;

      .label {
        width: 100%;
        padding-bottom: 8px;
        text-align: left;
      }

      span {
        display: block;
      }

      .num {
        color: colors.$GRAY_2_T30;
        text-align: center;
      }

      .unit {
        padding: 0 8px 0 3px;
      }

      .slot {
        padding-right: 8px;
        color: colors.$GRAY_2_T30;
      }

      .semi {
        padding: 0 4px;
      }
    }
  }

  .buttonWrap {
    padding-top: 84px;
  }

  @media (max-width: sizes.$SCREEN_SM) {
    .form {
      @include vwConvert.mo(padding-bottom, 45);
    }

    .line {
      @include vwConvert.mo(padding, 14 0);
    }

    .label {
      @include vwConvert.mo(padding-bottom, 12);
    }

    .textInput,
    .textarea {
      @include fontSize.emFontSizeMO(15);
    }

    .textInput {
      @include vwConvert.mo(height, 26);
      @include vwConvert.mo(line-height, 26);
    }

    .textarea {
      @include vwConvert.mo(height, 200);
    }

    // 카운터
    .counter {
      button {
        @include vwConvert.mo(width, 24);
        @include vwConvert.mo(height, 24);
        @include vwConvert.mo(line-height, 24);
      }

      .current {
        @include vwConvert.mo(width, 40);
        @include vwConvert.mo(max-width, 20);
        @include vwConvert.mo(padding, 0 5);
      }
    }

    // 장소
    .place {
      @include vwConvert.mo(padding, 14 0);

      .arrow {
        @include vwConvert.mo(margin-right, 5);
        margin-right: 5px;
      }
    }

    // 시간
    .timePicker {
      .popupBtn {
        @include vwConvert.mo(padding, 14 0);
        @include fontSize.emFontSizeMO(16);

        .label {
          @include vwConvert.mo(padding-bottom, 8);
        }

        .unit {
          @include vwConvert.mo(padding, 0 8 0 3);
        }

        .slot {
          @include vwConvert.mo(padding-right, 8);
        }

        .semi {
          @include vwConvert.mo(padding, 0 4);
        }
      }
    }

    .buttonWrap {
      @include vwConvert.mo(padding-top, 84);
    }
  }
}
