@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.editor {
  .form {
    padding-bottom: 45px;
    border-top: 1px solid rgba(0, 0, 0, 10%);
  }

  .line {
    padding: 14px 0;
    border-bottom: 1px solid colors.$LINE_1;

    &.noPadding {
      padding: 0;
    }
  }

  .label {
    display: inline-block;
    padding-bottom: 12px;
    font-weight: 600;
  }

  .textInput,
  .textarea {
    width: 100%;
    font-size: 15px;
    background-color: transparent;
    border: none;

    &::placeholder {
      color: colors.$GRAY_2_T30;
    }
  }

  .textInput {
    height: 26px;
    line-height: 26px;
  }

  .textarea {
    height: 200px;
    resize: none;
  }

  // 카운터
  .counter {
    display: flex;
    align-items: center;

    button {
      width: 24px;
      height: 24px;
      line-height: 24px;
      background-color: colors.$GRAY_D9;
      border-radius: 50%;
      @include flexbox.flexbox(center, center);

      &:active {
        background-color: colors.$PRIMARY;
      }
    }

    .current {
      width: 40px;
      min-width: 20px;
      padding: 0 5px;
      text-align: center;
    }
  }

  // 장소
  .place {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 14px 0;

    .label {
      padding-bottom: 0;
    }

    .arrow {
      margin-right: 5px;
      transform: scaleX(-1);
    }
  }

  // 시간
  .timePicker {
    .popupBtn {
      display: flex;
      align-items: center;
      font-size: 16px;

      span {
        display: block;
      }

      .num {
        color: colors.$GRAY_2_T30;
        text-align: center;
      }

      .unit {
        padding-right: 8px;
      }

      .slot {
        padding-right: 8px;
        color: colors.$GRAY_2_T30;
      }

      .semi {
        padding: 0 4px;
      }
    }
  }

  .buttonWrap {
    padding-top: 84px;
  }
}
