@use '/src/styles/constants/colors';
// @use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/vwConvert';
@use 'src/styles/mixins/fontSize';
@use '/src/styles/constants/sizes';

.editor {
  .form {
    padding-bottom: 45px;
    border-top: 1px solid rgba(0, 0, 0, 10%);
  }

  .line {
    padding: 14px 0;
    border-bottom: 1px solid colors.$LINE_1;

    &.noPadding {
      padding: 0;
    }
  }

  .label {
    display: inline-block;
    padding-bottom: 12px;
    font-size: 16px;
    font-weight: 600;
  }

  .textInput,
  .textarea {
    width: 100%;
    font-size: 15px;
    background-color: transparent;
    border: none;

    &::placeholder {
      color: colors.$GRAY_2_T30;
    }
  }

  .textInput {
    height: 26px;
    line-height: 26px;
  }

  .textarea {
    height: 200px;
    resize: none;

    &.highlight {
      color: colors.$PINK;
    }
  }

  // 장소
  .place {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 14px 0;

    .placeName {
      display: block;
      padding-left: 20px;
      text-align: right;
    }

    .label {
      flex-shrink: 0;
      padding-bottom: 0;
    }

    .arrow {
      width: 26px;
      height: 26px;
      margin-right: 5px;
      transform: scaleX(-1);
    }
  }

  .buttonWrap {
    padding-top: 84px;
  }

  @media (max-width: sizes.$SCREEN_SM) {
    .form {
      @include vwConvert.mo(padding-bottom, 25);
    }

    .line {
      @include vwConvert.mo(padding, 14 0);
    }

    .label {
      @include vwConvert.mo(padding-bottom, 12);
      @include fontSize.emFontSizeMO(16);
    }

    .textInput,
    .textarea {
      @include fontSize.emFontSizeMO(15);
    }

    .textInput {
      @include vwConvert.mo(height, 26);
      @include vwConvert.mo(line-height, 26);
    }

    .textarea {
      @include vwConvert.mo(height, 200);
    }

    // 장소
    .place {
      @include vwConvert.mo(padding, 14 0);

      .arrow {
        @include vwConvert.mo(width, 26);
        @include vwConvert.mo(height, 26);
        @include vwConvert.mo(margin-right, 5);
      }
    }

    .buttonWrap {
      @include vwConvert.mo(padding-top, 84);
    }
  }
}
