@use '/src/styles/constants/colors';

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 83px);

  div {
    width: 1.5em;
    height: 1.5em;
    border: 2px solid colors.$GRAY_EF;
    border-top: 3px solid colors.$PRIMARY;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    from {
      transform: rotate(0);
    }

    to {
      transform: rotate(360deg);
    }
  }
}
