@charset "utf-8";
@use '/src/styles/constants/colors';
@use '/src/styles/mixins/vwConvert';
@use 'src/styles/constants/sizes';

.layout {
  width: 100%;
  min-width: 280px;
  height: 100vh;
  margin: 0 auto;
  color: colors.$BLACK;

  .container {
    display: flex;
    flex-direction: column;
    max-width: 768px;
    min-height: 100vh;
    margin: 0 auto;
    // background-color: colors.$BG;
  }

  .inner {
    flex: 1;
    height: calc(100vh - 83px);
    overflow-y: auto;
    // background-color: colors.$BG;
  }

  @media (max-width: sizes.$SCREEN_SM) {
    .inner {
      height: calc(100vh - 10.8073vw);
    }
  }
}
