@charset "utf-8";
@use '/src/styles/constants/colors';
@use '/src/styles/mixins/vwConvert';

.layout {
  width: 100%;
  min-width: 280px;
  min-height: 100%;
  margin: 0 auto;
  color: colors.$BLACK;

  .container {
    display: flex;
    flex-direction: column;
    max-width: 768px;
    min-height: 100vh;
    margin: 0 auto;
    background-color: colors.$BG_WHITE;
  }

  .inner {
    flex: 1;
    overflow-y: auto;
  }
}
