@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/vwConvert';
@use 'src/styles/mixins/fontSize';
@use '/src/styles/constants/sizes';

.detailContent {
  position: relative;

  .like {
    position: absolute;
    top: -3px;
    right: 0;
    cursor: pointer;
    @media (max-width: sizes.$SCREEN_SM) {
      @include vwConvert.mo(top, -3);
    }

    svg {
      width: 26px;
      height: 26px;
      @media (max-width: sizes.$SCREEN_SM) {
        @include vwConvert.mo(width, 26);
        @include vwConvert.mo(height, 26);
      }
    }
  }

  .detailNickname {
    display: flex;
    align-items: center;

    .profile {
      display: block;
      width: 25px;
      height: 25px;
      overflow: hidden;
      background: colors.$GRAYA;
      border-radius: 50%;
      @media (max-width: sizes.$SCREEN_SM) {
        @include vwConvert.mo(width, 25);
        @include vwConvert.mo(height, 25);
      }
    }

    .nickname {
      margin-left: 8px;
      font-size: 16px;
      font-weight: bold;
      @media (max-width: sizes.$SCREEN_SM) {
        @include vwConvert.mo(margin-left, 8);
        @include fontSize.emFontSizeMO(16);
      }
    }
  }

  .detailTitle {
    margin-top: 14px;
    font-size: 20px;
    @media (max-width: sizes.$SCREEN_SM) {
      @include vwConvert.mo(margin-top, 14);
      @include fontSize.emFontSizeMO(20);
    }
  }

  .detailText {
    margin-top: 10px;
    font-size: 16px;
    @media (max-width: sizes.$SCREEN_SM) {
      @include vwConvert.mo(margin-top, 10);
      @include fontSize.emFontSizeMO(16);
    }
  }

  .detailList {
    margin-top: 10px;
    @media (max-width: sizes.$SCREEN_SM) {
      @include vwConvert.mo(margin-top, 10);
    }

    ul {
      display: flex;
      flex-wrap: wrap;

      li {
        display: flex;
        align-items: center;
        padding: 3px 8px;
        margin: 5px 8px 0 0;
        font-size: 10px;
        color: colors.$GRAY6;
        background: colors.$GRAYE;
        border-radius: 15px;
        @media (max-width: sizes.$SCREEN_SM) {
          @include vwConvert.mo(margin, 5 8 0 0);
          @include vwConvert.mo(padding, 3 8);
          @include fontSize.emFontSizeMO(10);
        }

        svg {
          width: 13px;
          height: 13px;
          margin-right: 3px;
          @media (max-width: sizes.$SCREEN_SM) {
            @include vwConvert.mo(width, 13);
            @include vwConvert.mo(height, 13);
            @include vwConvert.mo(margin-right, 3);
          }
        }
      }
    }
  }

  .detailBtn {
    padding: 16px 0;
    margin-top: 18px;
    border-top: 1px solid colors.$GRAYD;
    border-bottom: 1px solid colors.$GRAYD;
    @media (max-width: sizes.$SCREEN_SM) {
      @include vwConvert.mo(padding, 16 0);
      @include vwConvert.mo(margin-top, 18);
    }

    button {
      height: 47px;
      @media (max-width: sizes.$SCREEN_SM) {
        @include vwConvert.mo(height, 47);
      }
    }
  }
}
