@use 'src/styles/constants/sizes';
@use 'src/styles/constants/colors';
@use 'src/styles/mixins/vwConvert';
@use 'src/styles/mixins/fontSize';

.outer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10001;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.backGround {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 768px;
  height: 100%;
  background: rgba(81, 81, 81, 70%);

  &.isBottom {
    align-items: flex-end;

    .inner {
      background-color: transparent;
    }
  }
}

.inner {
  width: 90%;
  // max-width: 738px;
  background-color: colors.$WHITE;
  border-radius: 7px;

  &.full {
    width: 100%;
  }

  &.small {
    width: 332px;
    max-height: 80vh;
    overflow-y: auto;
  }

  @media (max-width: sizes.$SCREEN_SM) {
    max-width: 400px;

    &.full {
      max-width: 100%;
    }

    &.small {
      width: 90%;
      max-width: 100%;
    }
  }
}

.twoButton {
  &_container {
    text-align: center;

    pre {
      padding: 24px 0;
      font-family: 'Noto Sans KR', sans-serif;
      font-size: 16px;
      font-weight: 400;
      border-bottom: 1px solid colors.$GRAY_CF;

      @media (max-width: sizes.$SCREEN_SM) {
        @include vwConvert.mo(padding, 24 0);
        @include fontSize.emFontSizeMO(16);
      }
    }
  }

  &_buttonSection {
    display: flex;
    flex: 1 1;
    width: 100%;

    button {
      width: 100%;
      padding: 20px 0;

      @media (max-width: sizes.$SCREEN_SM) {
        @include vwConvert.mo(padding, 20 0);
        @include fontSize.emFontSizeMO(16);
      }

      &:first-child {
        border-right: 1px solid colors.$GRAY_CF;
      }
    }
  }
}

.under {
  &_container {
    margin-bottom: 32px;
    text-align: center;
    border-radius: 15px;
    animation: slide_top 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

    ul {
      margin-bottom: 16px;
      background-color: #ffffff;
      border-radius: 15px;

      li + li {
        border-top: 1px solid rgba(0, 0, 0, 10%);
      }

      li {
        width: 100%;
      }

      .item {
        width: 100%;
        padding: 16px 0;
        font-size: 18px;
        color: colors.$BLACK;
      }
    }

    .cancel {
      width: 100%;
      padding: 16px 0;
      font-size: 18px;
      color: colors.$BLACK;
      background-color: #ffffff;
      border-radius: 15px;
    }
  }
}

@keyframes slide_top {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
