@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/vwConvert';
@use 'src/styles/mixins/fontSize';
@use '/src/styles/constants/sizes';

.comment {
  margin: 0 -20px;
  @media (max-width: sizes.$SCREEN_SM) {
    @include vwConvert.mo(margin, 0 -20);
  }

  .commentWrapper {
    padding: 14px 20px;
    @media (max-width: sizes.$SCREEN_SM) {
      @include vwConvert.mo(padding, 14 20);
    }

    &.active {
      background: #f1fff7;
    }
  }

  .commentReply {
    padding: 8px 20px 8px 50px;
    @media (max-width: sizes.$SCREEN_SM) {
      @include vwConvert.mo(padding, 8 20 8 50);
    }
  }

  .commentListBlock {
    margin-bottom: 83px;
    @media (max-width: sizes.$SCREEN_SM) {
      @include vwConvert.mo(margin-bottom, 83);
    }
  }

  .commentBox {
    display: flex;

    .nickname,
    .text {
      margin-left: 6px;
      font-size: 15px;
      @media (max-width: sizes.$SCREEN_SM) {
        @include vwConvert.mo(margin-left, 6);
        @include fontSize.emFontSizeMO(15);
      }
    }

    .profile {
      flex: none;
      width: 23px;
      height: 23px;
      overflow: hidden;
      border-radius: 50%;
      @media (max-width: sizes.$SCREEN_SM) {
        @include vwConvert.mo(width, 23);
        @include vwConvert.mo(height, 23);
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    .nickname {
      font-weight: bold;
    }
  }

  .commentInfo {
    margin: 8px 0 0 30px;
    font-size: 11px;
    color: colors.$GRAYA;
    @media (max-width: sizes.$SCREEN_SM) {
      @include vwConvert.mo(margin, 8 0 0 30);
      @include fontSize.emFontSizeMO(11);
    }

    .btn {
      margin-left: 16px;
      cursor: pointer;
      @media (max-width: sizes.$SCREEN_SM) {
        @include vwConvert.mo(margin-left, 16);
      }
    }
  }

  .commentListNone {
    margin-top: 50px;
    font-size: 16px;
    color: colors.$GRAYA;
    text-align: center;
    @media (max-width: sizes.$SCREEN_SM) {
      @include vwConvert.mo(margin-top, 50);
      @include fontSize.emFontSizeMO(16);
    }
  }

  .commentInput {
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 768px;
    background: #ffffff;
    transform: translate3d(-50%, 0, 0);
    @media (max-width: sizes.$SCREEN_SM) {
      @include vwConvert.mo(width, 390);
    }

    form {
      width: 728px;
      padding: 17px 0 20px;
      margin: 0 auto;
      border-top: 1px solid colors.$LINE_1;
      @media (max-width: sizes.$SCREEN_SM) {
        @include vwConvert.mo(width, 358);
        @include vwConvert.mo(padding, 17 0 20);
      }

      input {
        width: 100%;
        height: 46px;
        padding: 10px 13px;
        font-size: 15px;
        background: colors.$GRAY_EF;
        border-radius: 15px;
        @media (max-width: sizes.$SCREEN_SM) {
          @include vwConvert.mo(height, 46);
          @include vwConvert.mo(padding, 10 13);
          @include fontSize.emFontSizeMO(15);
        }

        &::placeholder {
          font-size: 15px;
          @media (max-width: sizes.$SCREEN_SM) {
            @include fontSize.emFontSizeMO(15);
          }
        }
      }

      &.replyInput {
        z-index: 100;
        padding-left: 30px;
        margin-top: 0;
        border-top: none;
        @media (max-width: sizes.$SCREEN_SM) {
          @include vwConvert.mo(padding-left, 30);
        }
      }
    }
  }
}
