.wrapper {
  position: relative;
  & .searchIcon {
    position: absolute;
    transform: translateY(4px);
  }
  & input {
    width: 100%;
    padding: 0px 24px 12px 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    &::placeholder {
      color: #000;
    }
  }
}
