@use '/src/styles/constants/colors';
@use 'styles/constants/sizes';
@use 'styles/mixins/vwConvert';
@use 'styles/mixins/fontSize';

.header {
  padding: 21px 16px;

  .leftChild {
    margin-bottom: 25px;
  }

  .headText {
    font-size: 33px;
    color: colors.$GRAY2;
  }
  @media (max-width: sizes.$SCREEN_SM) {
    @include vwConvert.mo(padding, 21 16);

    .leftChild {
      @include vwConvert.mo(margin-bottom, 25);
    }

    .headText {
      @include fontSize.emFontSizeMO(33);
    }
  }
}
