@use 'src/styles/constants/colors';
@use 'src/styles/constants/sizes';
@use 'src/styles/mixins/vwConvert';
@use 'src/styles/mixins/fontSize';

.header {
  padding: 48px 16px 0;

  .leftChild {
    margin-bottom: 21px;
  }

  .headText {
    font-size: 25px;
    color: colors.$GRAY2;
  }

  @media (max-width: sizes.$SCREEN_SM) {
    @include vwConvert.mo(padding, 48 16 0);

    .leftChild {
      @include vwConvert.mo(margin-bottom, 21);
    }

    .headText {
      @include fontSize.emFontSizeMO(25);
    }
  }
}
