@use 'src/styles/mixins/fontSize';
@use '/src/styles/constants/sizes';
@use '/src/styles/mixins/vwConvert';

.greeting {
  text-align: center;

  .logo {
    width: 163px;
    height: 47px;
    @media (max-width: sizes.$SCREEN_SM) {
      @include vwConvert.mo(width, 163);
      @include vwConvert.mo(height, 47);
    }
  }

  .desc {
    font-size: 18px;
    font-weight: 700;
    @media (max-width: sizes.$SCREEN_SM) {
      @include fontSize.emFontSizeMO(18);
    }
  }
}
