@use 'src/styles/mixins/fontSize';
@use '/src/styles/constants/sizes';
@use '/src/styles/mixins/vwConvert';
@use '/src/styles/constants/colors';

.greeting {
  position: absolute;
  top: 140px;
  left: 50%;
  z-index: 9;
  color: colors.$WHITE;
  text-align: center;
  transform: translateX(-50%);

  @media (max-width: sizes.$SCREEN_SM) {
    @include vwConvert.mo(top, 140);
  }

  .logo {
    width: 162px;
    height: 47px;

    @media (max-width: sizes.$SCREEN_SM) {
      @include vwConvert.mo(width, 162);
      @include vwConvert.mo(height, 47);
    }
  }

  .desc {
    font-size: 19px;
    font-weight: 700;

    @media (max-width: sizes.$SCREEN_SM) {
      @include fontSize.emFontSizeMO(19);
    }
  }
}
