@use '/src/styles/constants/colors';
@use '/src/styles/mixins/vwConvert';

.checkbox {
  position: relative;

  .item {
    display: block;
    @include vwConvert.pc(padding, 10);
  }

  .nothing {
    color: colors.$RED;
  }

  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    visibility: hidden;
  }

  label {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    @include vwConvert.pc(padding-left, 30);

    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      content: '';
      background: no-repeat center/100% auto;
      background-image: url('http://27.102.114.200/betree/favorcho/mri_booking/front/images/check_box_square.svg');
      transform: translateY(-50%);
      @include vwConvert.pc(width, 24);
      @include vwConvert.pc(height, 24);
    }
  }

  input:checked + label {
    &::before {
      background-image: url('http://27.102.114.200/betree/favorcho/mri_booking/front/images/checked_square.svg');
    }
  }
}
