@use 'styles/mixins/vwConvert';
@use 'styles/constants/colors';
@use 'styles/constants/sizes';

.gnb {
  ul {
    display: flex;
    justify-content: space-around;
    background-color: colors.$INDIGO;

    a {
      display: block;
      padding: 15px;
      color: colors.$WHITE;
      @media (max-width: sizes.$SCREEN_SM) {
        @include vwConvert.mo(padding, 15);
      }
    }
  }
}
