@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/vwConvert';
@use 'src/styles/mixins/fontSize';
@use '/src/styles/constants/sizes';

.detail {
  .headerWrap {
    padding: 21px 16px 0;
    @media (max-width: sizes.$SCREEN_SM) {
      @include vwConvert.mo(padding, 21 16 0);
    }

    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 0 11px;
      border-bottom: 1px solid colors.$GRAYD;
      @media (max-width: sizes.$SCREEN_SM) {
        @include vwConvert.mo(padding, 0 0 11);
      }

      .edit {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        cursor: pointer;
        @media (max-width: sizes.$SCREEN_SM) {
          @include vwConvert.mo(width, 24);
          @include vwConvert.mo(height, 24);
        }

        i {
          display: block;
          width: 4px;
          height: 4px;
          background: colors.$BLACK;
          border-radius: 50%;

          @media (max-width: sizes.$SCREEN_SM) {
            @include vwConvert.mo(width, 4);
            @include vwConvert.mo(height, 4);
          }

          & + i {
            margin-top: 2px;
            @media (max-width: sizes.$SCREEN_SM) {
              @include vwConvert.mo(margin-top, 2);
            }
          }
        }
      }
    }
  }
}
