@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/vwConvert';
@use 'src/styles/mixins/fontSize';
@use '/src/styles/constants/sizes';

.detail {
  .headerWrap {
    padding: 21px 16px 0;

    @media (max-width: sizes.$SCREEN_SM) {
      @include vwConvert.mo(padding, 21 16 0);
    }

    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 0 11px;
      border-bottom: 1px solid colors.$LINE_1;

      @media (max-width: sizes.$SCREEN_SM) {
        @include vwConvert.mo(padding, 0 0 11);
      }

      .editButton {
        width: 48px;
        height: 48px;

        svg {
          width: 40%;
          height: 40%;
        }

        @media (max-width: sizes.$SCREEN_SM) {
          @include vwConvert.mo(width, 48);
          @include vwConvert.mo(height, 48);

          svg {
            width: 30%;
            height: 30%;
          }
        }
      }
    }
  }
}
