@use 'src/styles/constants/sizes';
@use 'src/styles/mixins/vwConvert';

.floatingElem {
  position: fixed;
  left: 50%;
  width: 100%;
  max-width: 768px;
  padding: 0 17px;
  transform: translateX(-50%);

  @media (max-width: sizes.$SCREEN_SM) {
    @include vwConvert.mo(padding, 0 17);
  }
}
