@use '/src/styles/constants/colors';
@use 'src/styles/constants/sizes';
@use 'src/styles/mixins/vwConvert';
@use 'src/styles/mixins/fontSize';

.categoryItem {
  width: 33.33%;
  padding-right: 20px;
  margin-bottom: 20px;

  &.isActive {
    button .image {
      border-color: colors.$PRIMARY;
    }
  }

  button {
    position: relative;
    width: 100%;
    padding-top: 100%;

    .image {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: colors.$GRAY_F3;
      border: 2px solid transparent;
      border-radius: 15px;
    }
  }

  .title {
    font-size: 15px;
    text-align: center;
  }

  @media (max-width: sizes.$SCREEN_SM) {
    @include vwConvert.mo(padding-right, 9);
    @include vwConvert.mo(margin-bottom, 18);

    button {
      .image {
        @include vwConvert.mo(border-radius, 15);
        @include vwConvert.mo(border-width, 2);
      }

      .title {
        @include fontSize.emFontSizeMO(15);
      }
    }
  }
}
