@use '/src/styles/constants/colors';
@use '/src/styles/mixins/vwConvert';
@use 'src/styles/mixins/fontSize';
@use '/src/styles/constants/sizes';

.signup {
  .nickname {
    position: relative;

    button {
      position: absolute;
      right: 0;
      bottom: 43px;
      width: 84px;
      height: 23px;
      padding: 0;
      font-size: 12px;
      border-radius: 6px;

      @media (max-width: sizes.$SCREEN_SM) {
        @include vwConvert.mo(bottom, 43);
        @include vwConvert.mo(width, 84);
        @include vwConvert.mo(height, 23);
        @include fontSize.emFontSizeMO(12);
        @include vwConvert.mo(border-radius, 6);
      }
    }

    .duplicate {
      color: colors.$PRIMARY;
    }

    .red {
      color: colors.$RED;
    }
  }

  .formBox {
    position: relative;

    &:first-child {
      margin-top: 27px;

      @media (max-width: sizes.$SCREEN_SM) {
        @include vwConvert.mo(margin-top, 27);
      }
    }
  }

  .errorMessage {
    position: absolute;
    top: 70px;
    font-size: 12px;
    color: colors.$RED;

    @media (max-width: sizes.$SCREEN_SM) {
      @include vwConvert.mo(top, 70);
      @include fontSize.emFontSizeMO(12);
    }
  }

  .signupBtn {
    margin-top: 50px;

    @media (max-width: sizes.$SCREEN_SM) {
      @include vwConvert.mo(margin-top, 50);
    }
  }
}
