@use '/src/styles/constants/colors';
@use '/src/styles/mixins/vwConvert';
@use 'src/styles/mixins/fontSize';
@use '/src/styles/constants/sizes';

.signup {
  .formBox {
    position: relative;

    &:first-child {
      margin-top: 27px;

      @media (max-width: sizes.$SCREEN_SM) {
        @include vwConvert.mo(margin-top, 27);
      }
    }

    .duplicate {
      color: colors.$PRIMARY_TEXT;
    }

    .red {
      color: colors.$RED;
    }
  }

  .signupBtn {
    margin-top: 50px;

    @media (max-width: sizes.$SCREEN_SM) {
      @include vwConvert.mo(margin-top, 50);
    }
  }
}
