@use '/src/styles/constants/colors';
@use '/src/styles/mixins/vwConvert';
@use 'src/styles/mixins/fontSize';
@use '/src/styles/constants/sizes';

.signup{
    .nickname{
        position: relative;
        button{
            position: absolute;
            right: 0;
            top: 5px;
            @media (max-width: sizes.$SCREEN_SM) {
                @include vwConvert.mo(top, 20);
            }
        }
    }
    .button{
        cursor: pointer;
        background: colors.$PRIMARY;
        &:disabled{
            cursor: auto;
            background: colors.$GRAY6;
        }   
    }
    .errorMessage{
        margin-top:5px;
        font-size: 12px;
        color: colors.$RED;
        @media (max-width: sizes.$SCREEN_SM) {
            @include vwConvert.mo(margin-top, 5);
            @include fontSize.emFontSizeMO(12);
        }
    }
}