@use 'src/styles/constants/colors';
@use '/src/styles/mixins/fontSize';
@use 'src/styles/constants/sizes';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  h3 {
    font-size: 13px;
    color: colors.$GRAY_B1;

    @media (max-width: sizes.$SCREEN_SM) {
      @include fontSize.emFontSizeMO(13);
    }
  }
}
