@use '/src/styles/mixins/fontSize';
@use 'src/styles/mixins/vwConvert';
@use 'src/styles/constants/sizes';
@use 'src/styles/constants/colors';

.outer {
  position: relative;
  max-width: 768px;
  height: 27px;
}

.inner {
  position: absolute;
  width: 100%;
  max-width: 768px;

  ul {
    display: flex;
    flex-wrap: nowrap;
    gap: 6px;
    width: 100%;
    overflow-x: auto;
    @media (max-width: sizes.$SCREEN_SM) {
      gap: 6px;
    }

    & li {
      flex: 1;
      padding: 5px 28px;
      @media (max-width: sizes.$SCREEN_SM) {
        flex: 0 0 auto;
        @include vwConvert.mo(padding, 5 28);
      }
    }
  }
}

.space {
  margin-left: 10px;
  @media (max-width: sizes.$SCREEN_SM) {
    @include vwConvert.mo(margin-left, 10);
  }
}

.item {
  font-size: 12px;
  font-weight: 400;
  color: rgb(81, 81, 81);
  text-align: center;
  background-color: #ffffff;
  border-radius: 18px;
  @media (max-width: sizes.$SCREEN_SM) {
    @include fontSize.emFontSizeMO(12);
  }
}

.active {
  background-color: colors.$PRIMARY;
}
