@charset "utf-8";
@use 'src/styles/constants/sizes';
@use 'src/styles/mixins/vwConvert';

// common
.contentsInner {
  padding: 20px;

  @media (max-width: sizes.$SCREEN_SM) {
    @include vwConvert.mo(padding, 20);
  }
}

.blind {
  position: absolute;
  top: -999px;
  left: -999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  font-size: 1px;
  line-height: 0;
}
