@use '/src/styles/constants/sizes';
@use '/src/styles/mixins/fontSize';

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Noto+Sans+KR:wght@400;700&family=Noto+Serif+KR:wght@400;700&display=swap');

html {
  @include fontSize.vwFontSizePC(16);
  @media (max-width: sizes.$SCREEN_SM) {
    @include fontSize.vwFontSizeMO(14);
  }
}

body,
button,
input,
textarea,
p,
span,
div,
select {
  font-family: 'Spoqa Han Sans Neo', Inter, Arial, PingFangSC-Regular, 'Microsoft YaHei', sans-serif;
  font-feature-settings: 'tnum';
}

header {
  font-family: 'Nanum Pen Script', sans-serif;
}

input[type='number'] {
  font-feature-settings: 'tnum';

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }
}
