@use '/src/styles/constants/sizes';
@use '/src/styles/mixins/fontSize';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url('//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css');

html {
  // @include vw-font-size-pc(16);
  // @media (max-width: $screen-md) {
  //   @include vw-font-size-tb(16);
  // }
  // font-size: 16px;
  @include fontSize.vwFontSizePC(16);
  @media (max-width: sizes.$SCREEN_SM) {
    @include fontSize.vwFontSizeMO(14);
  }
}

body,
button,
input,
textarea,
p,
span,
div,
select {
  font-family: 'Spoqa Han Sans Neo', Inter, Arial, PingFangSC-Regular, 'Microsoft YaHei', sans-serif;
  font-feature-settings: 'tnum';
}

header {
  font-family: 'Nanum Pen Script', sans-serif;
}

input[type='number'] {
  font-feature-settings: 'tnum';

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }
}
