/* stylelint-disable */
@use 'src/styles/constants/colors';

.react-datepicker-popper {
  .react-datepicker {
    border: 1px solid #ebebeb;
    &__header {
      background-color: colors.$PRIMARY;
      border: none;
    }
    &__day--keyboard-selected {
      background-color: colors.$PRIMARY;
    }
    &__navigation {
      background: url('../../assets/svgs/arrow_prev.svg') no-repeat center/20% auto;
      width: 30px;
      height: 30px;
      border: none;
      opacity: 0.7;
      &--next {
        transform: scale(-1);
      }
      &--previous {
      }
      &:active,
      &:hover {
        opacity: 1;
      }
    }
    &-popper .react-datepicker__triangle::before {
      border-top-color: #ebebeb;
    }
    &-popper[data-placement^='top'] .react-datepicker__triangle::before {
      border-top-color: #ebebeb;
    }
    &-popper[data-placement^='bottom'] .react-datepicker__triangle::before {
      border-top-color: #ebebeb;
    }
    &__navigation-icon {
      display: none;
    }
    &__triangle::before {
      border-top-color: #ebebeb !important;
    }
    &__day--selected {
      background-color: colors.$PRIMARY;
    }
    &__day-name {
      color: colors.$BLACK;
    }
    &__current-month {
      color: colors.$BLACK;
    }
    &__input-container {
      display: flex;
      align-items: center;
    }
  }
}

.react-datepicker__day--keyboard-selected:hover,
.react-datepicker__month-text--keyboard-selected:hover,
.react-datepicker__quarter-text--keyboard-selected:hover,
.react-datepicker__year-text--keyboard-selected:hover {
  background-color: colors.$PRIMARY !important;
}

.react-datepicker-popper[data-placement^='bottom'] .react-datepicker__triangle::before {
  border-top-color: #ebebeb !important;
}
